In [2]:
from marc_embeddings import marc, zephyr

json = [
    zephyr.load_from_api('txu.059173018498868'),
    zephyr.load_from_api('gri.ark:/13960/t91875m5j'),
    zephyr.load_from_api('mdp.39015022391018')
]

data = zephyr.ZephyrTransformer(marc.select(
    marc.AllFields
), dataframe = True).transform(json)

display(data)

,100,110,130,210,222,240,242,243,245,246,...,250,254,255,256,257,258,260,263,264,270
txu.059173018498868,"{'ind1': '1', 'ind2': ' ', 'subfields': [{'a':...",,,,,,,,"{'ind1': '1', 'ind2': '4', 'subfields': [{'a':...",,...,,,,,,,"{'ind1': ' ', 'ind2': ' ', 'subfields': [{'a':...",,,
gri.ark:/13960/t91875m5j,"{'ind1': '1', 'ind2': ' ', 'subfields': [{'a':...",,,,,,,,"{'ind1': '1', 'ind2': '3', 'subfields': [{'a':...",,...,,,,,,,"{'ind1': ' ', 'ind2': ' ', 'subfields': [{'a':...",,,
mdp.39015022391018,"{'ind1': '1', 'ind2': ' ', 'subfields': [{'a':...",,,,,,,,"{'ind1': '1', 'ind2': '0', 'subfields': [{'a':...",,...,,,,,,,"{'ind1': ' ', 'ind2': ' ', 'subfields': [{'a':...",,,